        /* header styling */
        
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            list-style: none;
            text-decoration: none;
        }
        
        body {
            font-family: 'Mukta', sans-serif;
        }
        
        header {
            display: flex;
            justify-content: space-around;
            background-color: #1f2837;
        }
        /* logo styling */
        
        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 7px;
        }
        
        .logo i {
            font-size: 1.5rem;
            color: #cea434;
        }
        
        .logo_name {
            color: white;
            font-size: 1.3rem;
            line-height: 32px;
        }
        
        .logo h4 {
            color: white;
            font-size: 0.8rem;
            font-weight: lighter;
            line-height: 7px;
        }
        /* navbar styling */
        
        .nav_items ul {
            height: 100%;
            display: flex;
            align-items: center;
        }
        
        .nav_items ul li {
            transition: all 0.5s;
            border-radius: 10px;
            border: 2px solid transparent;
        }
        
        .nav_items ul li:hover {
            border: 1px solid #cea434;
        }
        
        .nav_items ul li a {
            color: white;
            font-size: 1rem;
            font-weight: bold;
            padding: 5px 15px;
            margin: 5px;
            align-self: center;
        }
        /* contact us styling */
        
        .contact {
            width: 100%;
        }
        
        .contact h1 {
            font-family: 'Lobster', cursive;
            font-size: 2rem;
            color: #1f2837;
            margin: 20px;
            text-align: center;
        }
        
        .contact h1 span {
            color: #cea434;
        }
        
        .map {
            margin: 0px auto;
            width: 60%;
        }
        
        .map img {
            width: 100%;
            cursor: pointer;
            transition: all .2s;
        }
        
        .map img:hover {
            transform: scale(1.05);
        }
        
        .contact_div {
            margin-top: 2em;
            display: flex;
        }
        
        .contact_info {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 1em 4em;
            background-color: rgb(230, 228, 228);
        }
        
        .contact_info h3 {
            margin-top: 1em;
            color: #1f2837;
        }
        
        .contact_info h3 i {
            margin-right: 10px;
            color: #cea434;
        }
        
        .contact_form {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #1f2837;
        }
        
        .contact_form a {
            border: 1px solid transparent;
            width: 40%;
            color: #1f2837;
            /* padding: 0.5em 0em; */
            text-align: center;
            font-size: 1.8rem;
            font-weight: bolder;
            border-radius: 5px;
            background-color: rgba(206, 164, 52, 1);
            transition: all 0.5s;
            margin-bottom: 1em;
        }
        
        .contact_form a:hover {
            background-color: transparent;
            color: rgba(206, 164, 52, 1);
            border: 1px solid rgba(206, 164, 52, 0.7);
        }
        
        .contact_form h2 {
            color: #cea434;
            font-size: 1..7rem;
        }
        
        .contact_form input,
        textarea {
            width: 80%;
            background-color: transparent;
            border: none;
            padding: 1em 0.8em;
            margin: 1.5em 0em;
            border: 1px solid rgba(206, 164, 52, 0.5);
        }
        /* placeholder styling for different browsers */
        
         ::placeholder {
            color: #cea434;
            opacity: 1;
        }
        
         :-ms-input-placeholder {
            color: #cea434;
        }
        
         ::-ms-input-placeholder {
            color: #cea434;
        }
        
        textarea::placeholder {
            color: #cea434;
        }
        
        textarea:-ms-input-placeholder {
            color: #cea434;
        }
        
        textarea::-webkit-input-placeholder {
            color: #cea434;
        }
        
        textarea:-moz-placeholder {
            color: #cea434;
        }
        /* footer styling */
        
        footer {
            display: flex;
            flex-wrap: wrap;
            background-color: rgb(230, 230, 230);
            margin-top: 2em;
            padding-top: 20px;
        }
        
        .footer_div {
            width: 20%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        
        .footer_div h5 {
            font-size: 1.1rem;
            font-weight: bolder;
        }
        
        .footer_div a {
            font-size: 0.9rem;
            padding: 5px;
            color: black;
            transition: all .5s;
        }
        
        .footer_div a:hover {
            color: #fa7252;
        }
        
        .myname {
            width: 100%;
            margin-top: 1em;
        }
        
        .myname h3 {
            font-size: 0.9rem;
            letter-spacing: 3px;
            text-align: center;
        }